<div>
  <h2 id="page-heading" data-cy="NhanvienHeading">
    <span jhiTranslate="doAnApp.nhanvien.home.title">Nhanviens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doAnApp.nhanvien.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nhanvien"
        [routerLink]="['/nhanvien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doAnApp.nhanvien.home.createLabel">Create a new Nhanvien</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (nhanviens?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="doAnApp.nhanvien.home.notFound">No Nhanviens found</span>
    </div>
  }

  @if (nhanviens && nhanviens.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manv">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.manv">Manv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hoten">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.hoten">Hoten</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngaysinh">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.ngaysinh">Ngaysinh</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gioitinh">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.gioitinh">Gioitinh</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quequan">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.quequan">Quequan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diachi">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.diachi">Diachi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hsluong">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.hsluong">Hsluong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="msthue">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.msthue">Msthue</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chucvu.id">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.chucvu">Chucvu</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phongban.id">
              <div class="d-flex">
                <span jhiTranslate="doAnApp.nhanvien.phongban">Phongban</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (nhanvien of nhanviens; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/nhanvien', nhanvien.id, 'view']">{{ nhanvien.id }}</a>
              </td>
              <td>{{ nhanvien.manv }}</td>
              <td>{{ nhanvien.hoten }}</td>
              <td>{{ nhanvien.ngaysinh | formatMediumDatetime }}</td>
              <td>{{ nhanvien.gioitinh }}</td>
              <td>{{ nhanvien.quequan }}</td>
              <td>{{ nhanvien.diachi }}</td>
              <td>{{ nhanvien.hsluong }}</td>
              <td>{{ nhanvien.msthue }}</td>
              <td>
                @if (nhanvien.chucvu) {
                  <div>
                    <a [routerLink]="['/chucvu', nhanvien.chucvu.id, 'view']">{{ nhanvien.chucvu.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (nhanvien.phongban) {
                  <div>
                    <a [routerLink]="['/phongban', nhanvien.phongban.id, 'view']">{{ nhanvien.phongban.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/nhanvien', nhanvien.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/nhanvien', nhanvien.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(nhanvien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (nhanviens && nhanviens.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
