<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phongban-heading" data-cy="PhongbanCreateUpdateHeading" jhiTranslate="doAnApp.phongban.home.createOrEditLabel">
        Create or edit a Phongban
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="doAnApp.phongban.mapb" for="field_mapb">Mapb</label>
          <input type="text" class="form-control" name="mapb" id="field_mapb" data-cy="mapb" formControlName="mapb" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="doAnApp.phongban.tenpb" for="field_tenpb">Tenpb</label>
          <input type="text" class="form-control" name="tenpb" id="field_tenpb" data-cy="tenpb" formControlName="tenpb" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="doAnApp.phongban.sdt" for="field_sdt">Sdt</label>
          <input type="number" class="form-control" name="sdt" id="field_sdt" data-cy="sdt" formControlName="sdt" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
